<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Ajout emploi
    </h1>
  </div>
</div>
<!-- /.row -->

<div class="container">
  <div class="row">
    <h2 class="col-lg-12 text-center add-job text-center"><span> <i class="fa fa-user"></i></span>
      Ajouter nouveau emploi </h2>
  </div>
  <div class="dt-sc-margin20"></div>
</div>

<form name="formNewJob" style="margin-top:40px;" [formGroup]="form" novalidate (ngSubmit)="addJob(form.value, form.valid)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1"
             [ngClass]="{'has-error': !form.controls.title.valid && form.controls.title.touched, 'has-success': form.controls.title.valid}">
          <label class="control-label" for="title">Titre</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
          <div *ngIf="form.controls.title.invalid">
                <span class="text-danger"
                      *ngIf="form.controls.title.errors.minlength && form.controls.title.touched">
                    Le titre doit être au minumum 2 caractéres
                </span>
                <span class="text-danger"
                      *ngIf="form.controls.title.errors.required && form.controls.title.touched">
                    Le titre est obligatoire
                </span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1"
             [ngClass]="{'has-error': !form.controls.description.valid && form.controls.description.touched, 'has-success': form.controls.description.valid}">
          <label class="control-label" for="description">Description</label>
          <input type="textarea" class="form-control" id="description" name="description" formControlName="description">
          <div *ngIf="form.controls.description.invalid">
              <span class="text-danger"
                    *ngIf="form.controls.description.errors.required && form.controls.description.touched">
                  La description est obligatoire
              </span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1"
             [ngClass]="{'has-error': !form.controls.experience.valid && form.controls.experience.touched, 'has-success': form.controls.experience.valid}">
          <label class="control-label" for="experience">Experience</label>
          <input type="text" class="form-control" id="experience" name="experience" formControlName="experience">
          <div *ngIf="form.controls.experience.invalid">
              <span class="text-danger"
                    *ngIf="form.controls.experience.errors.required && form.controls.experience.touched">
                  L'experience est obligatoire
              </span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1">
          <label class="control-label" for="type_job">Type</label>
          <select class="form-control" name="type_job" id="type_job" formControlName="type_job">
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
            <option value="Freelancer">Freelancer</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1">
          <label class="control-label" for="contrat">Contrat</label>
          <select class="form-control" name="contrat" id="contrat">
            <option value="CDI">CDI</option>
            <option value="CDD">CDD</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1">
          <label class="control-label" for="experience">Categorie</label>
          <select class="form-control" id="category" name="category">
            <option [value]="category.name" *ngFor="let category of categories">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-10 col-md-10 col-lg-offset-1"
             [ngClass]="{'has-error': !form.controls.salary.valid && form.controls.salary.touched, 'has-success': form.controls.salary.valid}">
          <label class="control-label" for="experience">Salaire</label>
          <input type="text" class="form-control" id="salary" name="salary" formControlName="salary">
          <div *ngIf="form.controls.salary.invalid">
              <span class="text-danger"
                    *ngIf="form.controls.salary.errors.required && form.controls.salary.touched">
                  Le salaire est obligatoire
              </span>
          </div>
        </div>
      </div>

      <h4 class="col-lg-12 text-center"><span> <i class="fa fa-desktop"></i></span>
        Société </h4>
      <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12 col-lg-offset-1"
             [ngClass]="{'has-error': !form.controls.company_name.valid && form.controls.company_name.touched, 'has-success': form.controls.company_name.valid}">
          <label class="control-label" for="company_name">Nom</label>
          <input type="text" class="form-control" id="company_name" name="company_name" formControlName="company_name">
          <div *ngIf="form.controls.company_name.invalid">
            <span class="text-danger"
                  *ngIf="form.controls.company_name.errors.required && form.controls.company_name.touched">
                Le nom de la société est obligatoire
            </span>
          </div>
        </div>
        <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12"
             [ngClass]="{'has-error': !form.controls.company_location.valid && form.controls.company_location.touched, 'has-success': form.controls.company_location.valid}">
          <label
            class="control-label" for="company_location">Localisation</label>
          <input type="text" class="form-control" id="company_location" name="company_location"
                 formControlName="company_location">
          <div *ngIf="form.controls.company_location.invalid">
            <span class="text-danger"
                  *ngIf="form.controls.company_location.errors.required && form.controls.company_location.touched">
                La localisation de la société est obligatoire
            </span>
          </div>
        </div>
      </div>


    </div>
    <div>
      <div class='text-center'>
        <div class="btn-group">
          <button type="submit" name="btnValide" class="btn btn-primary center-block">Créer</button>
          <button type="button" id="btnAnnuler" name="btnAnnuler" class="btn btn-info center-block">
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

