
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">Job Portal</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/home']">Accueil</a>
        </li>
        <li>
          <a [routerLink]="['/home']" href="#form-search-job">Chercher un emploi</a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn || Compte.role == 'candidate'" class="disabled" data-toggle="tooltip" data-placement="bottom"
             title="vous devez vous connecter et avoir le role employeur !!">Ajouter un emploi</a>
          <a *ngIf="isLoggedIn && Compte.role != 'candidate'" [routerLink]="['/add_job']">Ajouter un emploi</a>

        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['/souscription']">Inscription</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']">Connexion</a>
        </li>
        <li *ngIf="isLoggedIn" [ngClass]="{'active':isLoggedIn, 'inactive':!isLoggedIn}">
          <a>Bonjour {{Compte.firstname}} {{Compte.lastname}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container container_body">

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; JobPortal 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->
